<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005874615921-54qhmekns7cm08a9k1s5gdhe87kb55ef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005874615921-54qhmekns7cm08a9k1s5gdhe87kb55ef</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1005874615921-j4opadpp1fne6f6jvkcqg308k4sq9hsn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSzUGI6dodMCcG1zKdJF_ilHyZ3XBFQpo</string>
	<key>GCM_SENDER_ID</key>
	<string>1005874615921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopdroid</string>
	<key>PROJECT_ID</key>
	<string>marketplace-5cc2f</string>
	<key>STORAGE_BUCKET</key>
	<string>marketplace-5cc2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005874615921:ios:9b3fa346afbfc35376edd0</string>
</dict>
</plist>